
<!-- <section class="feature-area ptb-100"> -->
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="contnet">
                    <div class="feature-tittle">
                        <span>Features</span>
                        <h2>Inspection Supports</h2>
                        <p></p>
                    </div>
                    <ul>
                        <li>• Surface table-Size-3100mm x 6300mm</li><br>
                        <li>• Instruments</li><br>
                        <li>• 0-150 mm VERNIER CALIPER - MITUTOYO</li><br>
                        <li>• 0-150 mm VERNIER CALIPER - MITUTOYO (Digital) </li><br>
                        <li>• 0-300 mm VERNIER CALIPER – INSIZE (DIAL)</li><br>
                        <li>• 0 – 1000 mm VERNIER CALIPER – INSIZE (DIGITAL)</li><br>
                        <li>• 0 – 2000 mm VERNIER CALIPER – INSIZE</li><br>
                        <li>• 0 -1000 mm STICK MICROMETER- MITUTOYO</li><br>
                        <li>• 0-200 mm MICRO METER - MITUTOYO</li><br>
                        <li>• 0-300 mm HEIGHT GUAGE - MITUTOYO</li>
                        </ul>
                    </div>
            </div>
            <div class="col-lg-6">
                <div class="recent-img">
                    <img src="assets/img/mac1.png" alt="project image" alt="recent" />
            </div>
        </div>
        </div>
    </div>
<!-- </section> -->
<section class="feature-area ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="contnet">
                    <div class="feature-tittle">
                        <h2>Machineries for Fabrication & Finish Supports</h2>
                        <p></p>
                    </div>
                    <ul>
                        <li>•  MIG Matic Welding machine, Inverter based-14nos</li><br>
                        <li>•  TIG Welding Machine – 1no </li><br>
                        <li>•  Sandering Machines- 25 no's</li><br>
                        <li>•  Radial Drilling Machine (50MM)-1 no</li><br>
                        <li>•  Pillar type Drilling Machine(38MM) – 1no</li><br>
                        <li>•  Air compressors-2no</li><br>
                        <li>•  Arc welding machine (Portable)-1no</li><br>
                        <li>•  Cut-off machine -2nos</li><br>
                        <li>•  Hand drill-3nos</li>
                        </ul>
                    </div>
            </div>
            <div class="col-lg-6">
                    <div class="recent-img">
                        <img src="assets/img/mac2.png" alt="project image" alt="recent" />
                </div>
            </div>
        </div>
    </div>
</section>

<section class="feature-area ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="contnet">
                    <div class="feature-tittle">
                        <h2> Lathe Machine</h2>
                    </div>
                    </div>
            </div>
            <div class="col-lg-6">
                    <div class="recent-img">
                        <img src="assets/img/lath.jpeg" alt="project image" alt="recent" />
                </div>
            </div>
        </div>
    </div>
</section>
<section class="feature-area ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="contnet">
                    <div class="feature-tittle">
                        <h2> Drilling Machine</h2>
                    </div>
                    </div>
            </div>
            <div class="col-lg-6">
                    <div class="recent-img">
                        <img src="assets/img/Drilling machine.jpeg" alt="project image" alt="recent" />
                </div>
            </div>
        </div>
    </div>
</section>
<section class="feature-area ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="contnet">
                    <div class="feature-tittle">
                        <h2> Vertical Milling Machine </h2>
                    </div>
                    </div>
            </div>
            <div class="col-lg-6">
                    <div class="recent-img">
                        <img src="assets/img/VMM.jpeg" alt="project image" alt="recent" />
                </div>
            </div>
        </div>
    </div>
</section>
<!-- <section class="feature-area ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="contnet">
                    <div class="feature-tittle">
                        <h2> Vertical Turning Centre
                            Spec :Swing 1.8m Ht – 1.3m</h2>
                    </div>
                    </div>
            </div>
            <div class="col-lg-6">
                    <div class="recent-img">
                        <img src="assets/img/kiaz4.png" alt="project image" alt="recent" />
                </div>
            </div>
        </div>
    </div>
</section> -->
<!-- <div class="page-title-area"> -->
    <!-- <div class="container">
        <div class="page-title-content">
            <h2>Gallery</h2>
            <ul>
                <li><a routerLink="/">Home </a></li>
                <li class="active">Gallery</li>
            </ul>
        </div>
    </div> -->

    <!-- <div class="page-shape">
        <div class="shape1"><img src="assets/img/kiaz1.png" alt="shape" /></div>
        <div class="shape3"><img src="assets/img/kiazteam.png" alt="shape" /></div>
        <div class="shape4"><img src="assets/img/kiaz2.png" alt="shape" /></div>
        <div class="shape5"><img src="assets/img/kiaz3.png" alt="shape" /></div>
        <div class="shape6"><img src="assets/img/kiaz5.png" alt="shape" /></div>
    </div> -->
<!-- </div> -->

<!-- <section class="project-area-six pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <span>Our Gallery</span>
            <h2>Featured Gallery have done</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas non voluptatum aliquid autem minima ut culpa fugit fuga cumque, ullam minus sequi.</p>
        </div>

        <div class="project-wraps">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="single-project">
                        <div class="project-image bg-1">
                            <div class="price-wrap"></div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="single-project">
                        <div class="project-image bg-2">
                            <div class="price-wrap"></div>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-4 col-md-12">
                    <div class="single-project">
                        <div class="project-image bg-3">
                            <div class="price-wrap"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="single-project">
                        <div class="project-image bg-4">
                            <div class="price-wrap"></div>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-8 col-md-6">
                    <div class="single-project">
                        <div class="project-image bg-5">
                            <div class="price-wrap"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-md-6">
                    <div class="single-project">
                        <div class="project-image bg-6">
                            <div class="price-wrap"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-project">
                        <div class="project-image bg-7">
                            <div class="price-wrap"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->